requirements/py2exe-0.9.3.2-cp37-none-win_amd64.whl;(python_version>='3.7' and python_version<'3.8') and platform_machine=='AMD64'
requirements/py2exe-0.9.3.2-cp36-none-win_amd64.whl;(python_version>='3.6' and python_version<'3.7') and platform_machine=='AMD64'
requirements/py2exe-0.9.3.2-cp37-none-win32.whl;(python_version>='3.7' and python_version<'3.8') and platform_machine=='x86'
requirements/py2exe-0.9.3.2-cp36-none-win32.whl;(python_version>='3.6' and python_version<'3.7') and platform_machine=='x86'
pywin32==225
requests==2.22.0
six==1.12.0
toml==0.10.0
urllib3==1.25.5
wincertstore==0.2
wrapt==1.11.2
